@import "~@fontsource/oswald/300.css";
@import "~@fontsource/oswald/700.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: oswald;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}